*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-weight: bolder;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.table-body{
    background-color: rgb(99, 96, 96);
    height: 500px;
    width: 400px;
    padding: 40px 5px;
    border-radius: 20px;
    box-shadow: 0 20px rgb(59, 59, 59);
}

table{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

input{
    width: 22rem;
    height: 60px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px rgb(229, 233, 235);
    background-color: aliceblue;
    text-align: end;
    text-decoration: black;
    font-size: 50px;
    
}
.second-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border: 3px solid blue;*/
    margin-top: 10%;
    height: 55px;
}

button{
    width: 75px;
    height: 75px;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 5px rgb(197, 200, 202);
    font-size: 50px;
}
#equal-to{
    background-color: orange;
    box-shadow: 3px 5px rgb(203, 133, 2);
}